<style>
  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #c287f1, #b487f1);
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .container img {
    width: 95vw;
    max-width: 500px;
    height: auto;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
  }

  @media (max-width: 600px) {
    .container img {
      width: 90vw;
    }
  }
</style>
